{% set mariadb = salt['grains.filter_by']({
    'Debian': {
        'conf': '/etc/mysql/my.cnf',
    },
    'RedHat': {
        'conf': '/etc/my.cnf.d/server.cnf',
    },
}, merge=salt['grains.filter_by']({
    'bionic': {
        'conf': '/etc/mysql/mariadb.conf.d/50-server.cnf',
    },
}, grain='oscodename', merge=None ))%}
